.header {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: #333;
}
.logo {
  margin-left: auto;
}
.logo, .title {
  display: inline;
  align-self: center;
  margin-top: 4px;
}
.logo img {
  height: 14px;
  margin: 4px;
}
.title {
  margin: 4px;
  font-size: 1.5em;
}
.title span {
  color:#ffb501;
}
.by {
  font-style: italic;
  font-size: 10px;
  margin-left: 2px;
}