<div class="header">
  <div class="logo">
    <img src="assets/aws-amplify.png" />
  </div>
  <div class="title">London Bikes</div>
  <div class="toolbar">
    <mat-slider min="1" max="5" step="0.5" (change)="setPersons($event)">Persons</mat-slider>
    <button mat-flat-button color="primary" (click)="showSearchRadius()">Search</button>
    <button mat-flat-button color="secondary" (click)="centerMap()">Center</button>
    <mat-slide-toggle (change)="setMap($event)">Show clusters</mat-slide-toggle> 
  </div>
</div>